 <!-- Page heading -->
  <div class="page-head">
    <h2 class="pull-left"><i class="icon-file-alt"></i>新增模型</h2>
    <div class="clearfix"></div>
  </div>
  <!-- Page heading ends -->
  <!-- Matter -->
  <div class="matter">
    <div class="container">
		<%= render 'form' %>

		<%= link_to 'Back', unity3ds_path %>
  <!-- container ends -->
  </div>
</div>
<!-- Matter ends -->